parameters:
    # Needed only when you use "rules" block below
    level: 8
    paths:
        - src

    # Sometimes needed
    bootstrapFiles:
        - autoload.php
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#has no return type specified#'
        - '#has parameter .* with no type specified#'
        - '#Property .* has no type specified#'
        - '#has no value type specified in iterable type array#'
        - '#is used zero times and is not analysed#'
        -
            identifier: method.void
        -
            identifier: staticMethod.void
    # Prevents scanning given folders/files
