parameters:
    # Needed only when you use "rules" block below
    level: 8
    paths:
        - src

    # Sometimes needed
    bootstrapFiles:
        - autoload.php
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#has no return type specified#'
        - '#has parameter .* with no type specified#'
        - '#Property .* has no type specified#'
        - '#has no value type specified in iterable type array#'
        - '#parameter .* with generic class ReflectionClass but does not specify its types#'
        - '#on left side of \?\? is never defined#'
        - '#Call to an undefined method object::#'
        - '#is used zero times and is not analysed#'
    # Prevents scanning given folders/files
