<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="true"
    bootstrap="tests/bootstrap.php"
    >
    <testsuites>
        <testsuite name="DNMVCS Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
<!--
we do codecoverage by self.
    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
-->
</phpunit>
